@import "tailwindcss";
@layer base {
  body {
    @apply bg-white ;
  }
}
@layer components {
  .route {
    @apply pt-4 pl-4 h-7 rounded flex items-center hover:bg-gray-200 bg-white space-x-2 space-y-4 ;
  }
  .router-logo{
    @apply flex items-center space-x-2 ;
  }
}
